.sidebar {
    width: 200px;
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px;
    position: fixed; /* Fixera till vänster av sidan */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Lägg till scrollbar om innehållet är för stort */
    z-index: 20;
  }
  
  .sidebarTitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
  }

  