/* TopBar.module.css */
.topBarContainer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Justera höjd efter behov */
  width: 100%;
  position: fixed; /* För att hålla TopBar alltid överst */
  top: 0;
  left: 0;
  z-index: 10;
}

.leftSection {
  /* Lägg till logotyper eller navigeringslänkar här */
}

.rightSection {
  display: flex;
  align-items: center;
}

.profileSection {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 40px; /* Öka marginalen för att flytta sektionen mer till vänster */
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.userName {
  color: #fff;
  margin: 0 10px;
  font-weight: bold;
}

.dropdownArrow {
  color: #fff;
  cursor: pointer;
  margin-left: 5px; /* Justera avståndet till pilen för att göra den mer synlig */
}

.dropdownMenu {
  position: absolute;
  top: 100%; /* Placera dropdown-menyn direkt under profilikonen */
  right: 0;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  white-space: nowrap;
}

.dropdownMenu button {
  display: block;
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #333;
}

.dropdownMenu button:hover {
  background-color: #f0f0f0;
}
