/* src/assets/styles/Admin/UsersPage.module.css */

.container {
  padding: 20px;
  background-color: #f4f4f4; /* Bakgrundsfärg för hela sidan */
  min-height: 100vh; /* Gör att containern fyller hela höjden på viewport */

}

.header {
  background-color: #fff; /* Bakgrundsfärg för header-sektionen */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Linje för att separera header från innehållet */
  margin-bottom: 20px; /* Avstånd mellan header och listan */
  margin-top: 0;
}


.navigationButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

}

.navButton {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.activeTab {
  background-color: #0056b3;

}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchContainer button {
  padding: 8px 16px;
  background-color: #0070f3; /* Knappfärg */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchContainer button:hover {
  background-color: #005bb5; /* Knappens färg vid hover */
}

.userList {
  background-color: #fff; /* Bakgrundsfärg för listan */
  padding: 10px;
  border-radius: 8px;
}

.userList table {
  width: 100%;
  border-collapse: collapse;
}

.userList th, .userList td {
  border: 1px solid #ddd;
  padding: 8px;
}

.userList th {
  background-color: #f4f4f4;
}
