.statisticsContainer {
  position: absolute;
  bottom: 140px; /* Placera nära nedre kanten av skärmen */
  left: 20%; /* Centrera horisontellt */
  transform: translateX(-50%); /* Justera för att behålla centrerad position */
  display: flex;
  justify-content: space-around; /* För att jämnt fördela utrymmet mellan statistiksektioner */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Lägg till en lätt genomskinlig bakgrund för bättre läsbarhet */
  border-radius: 10px; /* Rundade hörn för en snyggare design */
  color: #fff;
  z-index: 1001;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.statistic h3 {
  margin: 0;
  font-size: 1.5rem; /* Justera storleken på rubriken */
}

.statistic p {
  margin: 0;
  font-size: 2rem; /* Justera storleken på siffrorna */
  font-weight: bold;
}
