/* assets/styles/DiscordWidget.module.css */

.discordWidget {
  position: absolute;  /* Behåll positioneringen */
  right: 15px;    
  bottom: 70px;    
  width: 329px;    /* Samma bredd som iframe */
  height: 331px;   /* Samma höjd som iframe */
  padding: 0px;   /* Lägger till lite padding för inre utrymme */
  background-color: #4b4b4b; /* Bakgrundsfärg */
  color: #fff;     /* Textfärg */
  border-radius: 5px; /* Rundade hörn */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Skugga för lite djup */
  z-index: 2000;   /* Se till att widgeten är ovanpå andra element */
  box-sizing: border-box; /* Se till att padding räknas in i bredd/höjd */
}
  
  .discordWidget p, .discordWidget button {
    margin: 5px 0;   /* Lägg till marginal för text och knappar */
  }
  
  .discordWidget iframe {
    width: 100%;  /* Gör så att iframe fyller containern */
    height: 330px; /* Gör så att iframe fyller containern */
    border: none; /* Tar bort standardramen runt iframen */
    border-radius: 15px; /* Gör hörnen på iframe rundade för en snygg matchning */
}

  .discordWidget button {
    background-color: #0070f3; /* Bakgrundsfärg för knappen */
    color: #fff;     /* Textfärg för knappen */
    width: 100%;
    font-size: larger;
    border: none;    /* Ta bort standard kantlinje */
    padding: 10px;   /* Lägg till padding inuti knappen */
    border-radius: 15px; /* Rundade hörn för knappen */
    cursor: pointer; /* Ändra muspekare till pekare på hover */
  }

  .discord iframe {
    border: none; /* Tar bort standardramen runt iframen */
  }
  